@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&family=Roboto+Condensed:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  --gray: rgb(72, 61, 61);
  --lightgray:rgba(220, 220, 220, 0.9);
  --header: rgba(19, 35, 45, 0.8);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #e2dded;
}

/* -------- Header------------- */

.header {
  width: 100vw;
  height: 3rem;
  background-color: rgba(19, 35, 45, 0.8);
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 5px solid var(--lightgray);
  position: fixed;
  top: 0;
}

.title {
  float: left;
  color: var(--lightgray);
  padding-left: 50px;
  font-size: 2.7rem;
  animation-name: title;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transition: 0.6s;
}

.title-icon {
  color:orangered;
}

.title:hover {
  font-size: 3rem;
  cursor: pointer;
}

@keyframes title {
  0% {opacity: 0.2};
  100% {opacity: 1};
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

ul .list-item {
  display: inline;
  margin-right: 30px;
  margin-left: 10px;
  margin-top: 18px;
  transition: 0.5s;
}

ul .list-item:hover {
  cursor: pointer;
  font-size: 2rem;
}

ul .list-item:active {
  cursor: pointer;
  font-size: 1rem;
}


ul .list-item a {
  text-decoration: none;
  color: var(--lightgray);
}

/* -------- main------------- */

main {
  box-sizing: border-box;
  margin-top: 6rem;
  color: var(--gray);
}

/* -------- About me------------- */
.about-me h2 {
  margin-left: 3.8rem;
}

.flex-container-one {
  display: flex;
}

.about-me .myphoto {
  width: 200px;
  border-radius: 5%;
  margin-left: 3.5rem;
  display: inline;
  object-fit: cover;
}

.personal-info {
  margin-left: 3.5rem;
  flex: 0 0.5 70%;
  font-size: 1.1rem;
}

.personal-info p {
  text-align: justify;
}

.personal-info p .hi {
  float: left;
  font-size: 2.2rem;
  margin-right: 0.5rem;
  color: orangered;
}

#time {
  background-color: var(--header);
  color: var(--lightgray);
  display: flex;
  justify-content: space-around;
  border-radius: 2px;
  height: 1.5rem;
}

#time div {
  font-family:Arial, Helvetica, sans-serif;
}

#breaker {
  margin-top: 20px;
}

/* -------- WORK------------- */

.work {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.work h2 {
  padding-left: 3.8rem;
}

#recipe-app {
  width: 60%;
  border-radius: 2%;
  box-shadow: 0px 0px 10px 10px #dbcece;
  grid-row: 2/3;
}

#recipe-app:hover {
  opacity: 0.5;
}


/* -------- Media Query ----- */
@media screen and (max-width: 1180px) {
  .header {
    height: 3.5rem;
  }

  .title {
    font-size: 2rem;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
  }
  
  ul .list-item {
    display: inline;
    margin-right: 15px;
    margin-left: 5px;
    font-size: 0.8rem;
  }

  .about-me .myphoto {
    width: 15%;
    border-radius: 5%;
    margin-left: 3.1rem;
    display: inline;
    object-fit: cover;
  }

  .personal-info {
    margin-left: 1.1rem;
    flex: 0 1 70%;
    font-size: 1rem;
    line-height: 1.3;
  }

  .personal-info p {
    text-align: left;
  }

  .personal-info p .hi {
    float: left;
    font-size: 1rem;
    margin-right: 0.3rem;
    color: orangered;
  }

  #recipe-app {
    width: 70%;
    border-radius: 2%;
    box-shadow: 0px 0px 10px 10px #dbcece;
    grid-row: 2/3;
  }
}

@media screen and (max-width: 800px) {
  .header {
    height: 4rem;
  }

  .title {
    font-size: 1.3rem;
    margin-top: 20px;
  }

  .nav-list {
    display: block;
    justify-content: flex-end;
  }
  
  ul .list-item {
    display: inline;
    font-size: 0.8rem;
    margin-left: 10px;
  }

  .flex-container-one {
    display: block;
  }

  .about-me .myphoto {
    width: 60%;
    border-radius: 5%;
    margin-left: 13%;
    display: inline;
    object-fit: cover;
  }

  .personal-info {
    margin-left: 0.2rem;
    flex: 0 1 70%;
    font-size: 1rem;
    line-height: 1.3;
    padding: 2rem;
  }

  .personal-info p {
    text-align: left;
  }

  .personal-info p .hi {
    float: left;
    font-size: 1rem;
    margin-right: 0.3rem;
    color: orangered;
  }

  #recipe-app {
    width: 80%;
    border-radius: 2%;
    box-shadow: 0px 0px 10px 10px #dbcece;
    grid-row: 2/3;
  }
}